*{
    color: #333;
    font-family: 'Arial', sans-serif;
}
#home{
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #aa5151;
    margin-bottom: 30px;
}
#home h2{
    display: block;
    color: #f1e4e4;
    width:auto;
    height:max-content;
    text-align: center;
}
#home h3{
    display: block;
    color: #f1e4e4;
    width:auto;
    height:max-content;
    text-align: center;
}
.image-container {
    display: flex;
    justify-content: space-between;
}
nav{
    /* text-align: center; */
    font-size: larger;
    justify-content: space-between;
    margin: 30px 30px;
    font-size: 25px;
}
nav a{
    text-decoration: none;
    color: #ce7f7f;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo img {
    width: 120px; 
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}
.coverimg{
    border-radius: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    margin-top: 40px;
}
.image-container img {
    max-width: 25%;
    height: auto;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: transform .3s;
}
.image-container img:hover{
        transform: scale(1.5); 
}
#table-border{
    padding-bottom: 10px;
}
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

th {
    background-color: #aa5151;
    color: #fff;
    padding: 10px;
}

td {
    padding: 8px;
    text-align: center;
}
#contact-form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 5px solid #ce7f7f;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #aa5151;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button:hover {
    background-color: #c98080;
}